<div class="col-md-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">{{ stock.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ stock.ticker }}</h6>
      <p class="card-text">{{ stock.description|truncatechars:120 }}</p>
      <p class="card-text"><strong>₹{{ stock.curr_price }}</strong></p>



      <!-- Buy Logic -->
      <form method="POST" action="{% url 'buy' stock.id %}" class="mb-2">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-2">
          <input type="number" name="quantity" class="form-control" min="1" placeholder="Buy quantity" required>
          <button type="submit" class="btn btn-success">Buy</button>
        </div>
      </form>

<!--Sell logic -->
      <form method="POST" action="{% url 'sell' stock.id %}">
        {% csrf_token %}
        <input type="hidden" name="stock_id" value="{{ stock.id }}">
        <div class="input-group input-group-sm">
          <input type="number"  name="quantity" class="form-control" min="1" placeholder="Sell quantity" required>
          <button type="submit" name="action" value="sell" class="btn btn-danger">Sell</button>
        </div>
      </form>
    </div>
  </div>
</div>