.nav
{
    display: flex;
    justify-content: space-between;
    background: #1154e3;
    color:white ;
    padding: 15px ;
    margin: 0;

    border-radius: 5px;

}


.nav  ul
{
    display: flex;
    list-style:  none;
    justify-content: space-between;
    gap : 20px;
}

.nav h3:hover ,  .nav li:hover , .nav a:hover
{
    color :  deepskyblue;
    cursor: pointer;
    transform: translate(-1px, -3px);
    transition: all 0.3s ease-in-out;
}

.nav a {
    text-decoration: none;
    color: white;
}

.footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top:10px;
    font-size: 14px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer li {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer li:hover {
    color: deepskyblue;
    cursor: pointer;
    transform: scale(1.1);
}

.footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: #a4bcc3;
}


.search-container {
    position: relative;
}
.search-bar {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}



body {
    background: #f0f2f5;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
}

.profile-card {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    max-width: 800px;    /* Smaller than 800px if image looks too big */
    margin: 0 auto;
}
.profile-pic {
    width: 100%;
    height: 300px;              /* Adjust for proportion */
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.info-label {
    font-weight: bold;
    color: #0d6efd;
}

body.register-page {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    color: #fff;
    height: 100vh;
}

.login-card {
    background-color: #ffffff;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.form-label {
    font-weight: 500;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.login-heading {
    font-weight: bold;
    color: #0d6efd;
}